:root {
  --main-dark: #0b0a07ff;
  --secondary-dark: #282824;
  --secondary-darker: #13120F;
  --accent-dark: #e71d36ff;
  --main-light: #f1f7edff;
  --accent-light: #db3a34ff;
  --font-1: 'Franklin Gothic Medium', Arial, sans-serif;
  --font-2: 'Arial Narrow', Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.default {
  color: var(--main-light);
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  min-width: 939px;
}

body {
  background-color: var(--main-dark);
  accent-color: var(--accent-dark);
  color: var(--main-light);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 850px;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--secondary-darker);
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  box-shadow: 0 0 1rem .5rem var(--main-dark);
}

header > div {
  background-color: var(--secondary-darker);
  display: flex;
  align-items: center;
}

header > div > h1 {
  margin: .5rem;
}

.search {
  border: var(--secondary-dark) solid 2px;
  border-radius: 20px;
  justify-self: center;
}

.search > form > input{
  border: none;
}

.search > form > input:focus{
  outline: none;
}

.search:focus-within {
  outline: var(--main-light) solid 1px;
}

input, textarea {
  color: var(--main-light);
  background-color: transparent;
  border: 2px solid var(--secondary-dark);
  border-radius: 1rem;
  padding: .5rem;
}

.submit {
  left: 50%;
  margin: .5rem;
  height: 5rem;
  width: 6rem;
  display: flex;
  gap: .5rem;
}

.submit > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5;
}

.submit > div > button {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: var(--accent-light) solid 1px;
  border-radius: 1rem;
  color: var(--accent-dark);
  font-size: xx-large;
  background-color: var(--secondary-dark);
  transition: .1s;
}

.submit > div > button:hover {
  box-shadow: 0 0 .5rem var(--main-light);
  transition: .3s;
}

.submit > div > button > label {
  margin-top: 6px;
  cursor: pointer;
}

main {
  margin: 1.5rem;
  margin-top: 8rem;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 1.5rem;
  width: 100%;
}

li > div {
  height: 100%;
  width: 100%;
}

iframe {
  border-radius: 1rem;
}

.video-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .5rem;
}

.video-content {
  margin-top: .5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.vid-details {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: .3rem;
}

.votes {
  display: flex;
  align-items: center;
}

.votes  > div > label {
  margin: 1rem;
}

#deslike_container {
  background-color: var(--secondary-dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin-right: .5rem;
}

#deslike {
  font-size: xx-large;
  color: red;
  border: red solid 1px;
  background-color: var(--secondary-dark);
  width: 3rem;
  height: 3rem;
  padding-bottom: .2rem;
  border-radius: 1rem;
  transition: .3s;
}

#deslike:hover {
  transition: .5s;
  box-shadow: red 0 0 1rem inset;
}

#like_container {
  background-color: var(--secondary-dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

#like {
  font-size: xx-large;
  color: green;
  border: green solid 1px;
  background-color: var(--secondary-dark);
  width: 3rem;
  height: 3rem;
  padding-bottom: .2rem;
  border-radius: 1rem;
  transition: .3s;
}

#like:hover {
  transition: .5s;
  box-shadow: green 0 0 1rem inset;
}

.remove {
  padding: .5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: var(--accent-light) solid 1px;
  border-radius: 1rem;
  color: var(--accent-dark);
  background-color: var(--secondary-dark);
  transition: .2s;
}

.remove:hover {
  box-shadow: 0 0 1rem var(--accent-dark) ;
  transition: .3s;
}

.coments {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  justify-self: center;
}

.show-coments {
  border: var(--secondary-dark) solid 2px;
  border-radius: 1rem;
  padding: .5rem;
  background-color: var(--secondary-darker);
  color: var(--main-light);
}

.messages {
  background-color: var(--secondary-darker);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: .5rem;
}

.messages > h4{
  margin: 1rem;
  padding-bottom: 3px;
  border-bottom: var(--secondary-dark) solid 2px;
}

.msg_vw {
  background-color: var(--secondary-dark);
  border-radius: 1rem;
  margin: 8px;
  padding: .3rem 0 .3rem .5rem;
  width: calc(100% - 1.5rem);
}

.send_msg {
  border: var(--secondary-dark) solid 2px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.send_msg > input {
  border: none;
}

.send_msg > input:focus {
  outline: none;
}

.send {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: var(--main-light);
}