:root {
  --main-dark: #0b0a07ff;
  --secondary-dark: #282824;
  --secondary-darker: #13120F;
  --accent-dark: #e71d36ff;
  --main-light: #f1f7edff;
  --accent-light: #db3a34ff;
  --font-1: 'Franklin Gothic Medium', Arial, sans-serif;
  --font-2: 'Arial Narrow', Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.default {
  color: var(--main-light);
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--main-dark);
  accent-color: var(--accent-dark);
  color: var(--main-light);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: var(--secondary-darker);
  display: flex;
  justify-content: space-between;
}

header > div {
  background-color: var(--secondary-darker);
  display: flex;
  align-items: center;
}

header > div > h1 {
  margin: .5rem;
}

.search {
  border: var(--secondary-dark) solid 2px;
  border-radius: 20px;
}

.search > form > input{
  border: none;
}

.search > form > input:focus{
  outline: none;
}

.search:focus-within {
  outline: var(--main-light) solid 1px;
}

.search > form > button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: var(--accent-light);
}

input, textarea {
  color: var(--main-light);
  background-color: transparent;
  border: 2px solid var(--secondary-dark);
  border-radius: 1rem;
  padding: .5rem;
}

.submit {
  left: 50%;
  margin: .5rem;
  height: 5rem;
  width: 6rem;
  display: flex;
  gap: .5rem;
}

.submit > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5;
}

.submit > div > button {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: var(--accent-light) solid 1px;
  border-radius: 1rem;
  color: var(--accent-dark);
  font-size: xx-large;
  background-color: var(--secondary-dark);
  transition: .1s;
}

.submit > div > button:hover {
  box-shadow: 0 0 .5rem var(--main-light);
  transition: .3s;
}

.submit > div > button > label {
  margin-top: 6px;
}

main {
  margin: 1.5rem;
}

li {
  margin-top: 1.5rem;
  width: 100%;
}

li > div {
  height: 100%;
  width: 100%;
}

.video-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .5rem;
}

.video-content {
  margin-top: .5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.vid-details {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

#deslike {
  color: red;
  border: red solid 1px;
}

#like {
  color: green;
  border: green solid 1px;
}

.remove {
  padding: .5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: var(--accent-light) solid 1px;
  border-radius: 1rem;
  color: var(--accent-dark);
  background-color: var(--secondary-dark);
  transition: .2s;
}

.remove:hover {
  box-shadow: 0 0 1rem var(--accent-dark) ;
  transition: .3s;
}